<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>The Educare Website Template | Staff :: w3layouts</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href='http://fonts.googleapis.com/css?family=Pompiere' rel='stylesheet' type='text/css'>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<div class="h-bg">
<div class="wrap">
	<div class="header">
		<div class="logo">
		  	 <a href="index.html"><img src="images/logo.png"> </a>
		 </div>
	<div class="header-right">
	 	 <ul class="nav">
	        <li><a href="index.html" title="Home">Home</a></li>
	  		<li><a href="about.html">About</a></li>
	  	    <li class="active"><a href="staff.html">Staff</a></li>
	  		<li><a href="contact.html">Contact</a></li>
      </ul>
	 </div>
	 <div class="clear"></div>
	</div>
</div>
</div>
<div class="content_bg">
<div class="wrap">
<div class="content">
 <div class="main">
 	<h2>Our Staff</h2>
	<div class="clear"></div>
						<div class="section group staff">
								<div class="listview_1_of_2 images_1_of_2">
									<div class="listimg listimg_2_of_1">
										 <a href="details.html"><img src="images/001.jpg"></a>
									</div>
								    <div class="txt_s list_2_of_1">
										<h3>Lorem Ipsum is simply</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt dolore.</p>
										<div class="btn1">
											<a href="details.html">Read More <span>>></span></a>
										</div>
								   </div>
							   </div>			
								<div class="listview_1_of_2 images_1_of_2">
									<div class="listimg listimg_2_of_1">
										  <a href="details.html"><img src="images/002.jpg"></a>
									</div>
									<div class="txt_s list_2_of_1">
										  <h3>Lorem Ipsum is simply</h3>
										  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt dolore.</p>
										  	<div class="btn1">
												<a href="details.html">Read More <span>>></span></a>
											</div>
									</div>
								</div>
						</div>
						<div class="section group">
								<div class="listview_1_of_2 images_1_of_2">
									<div class="listimg listimg_2_of_1">
										 <a href="details.html"><img src="images/003.jpg"></a>
									</div>
								    <div class="txt_s list_2_of_1">
										<h3>Lorem Ipsum is simply</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt dolore.</p>
										<div class="btn1">
											<a href="details.html">Read More <span>>></span></a>
										</div>
								   </div>
							   </div>			
								<div class="listview_1_of_2 images_1_of_2">
									<div class="listimg listimg_2_of_1">
										 <a href="details.html"><img src="images/004.jpg"></a>
									</div>
									<div class="txt_s list_2_of_1">
										  <h3>Lorem Ipsum is simply</h3>
										  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt dolore.</p>
										  	<div class="btn1">
												<a href="details.html">Read More <span>>></span></a>
											</div>
									</div>
								</div>
						</div>
						<div class="section group">
								<div class="listview_1_of_2 images_1_of_2">
									<div class="listimg listimg_2_of_1">
										<a href="details.html"><img src="images/005.jpg"></a>
									</div>
								    <div class="txt_s list_2_of_1">
										<h3>Lorem Ipsum is simply</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt dolore.</p>
										<div class="btn1">
											<a href="details.html">Read More <span>>></span></a>
										</div>
								   </div>
							   </div>			
								<div class="listview_1_of_2 images_1_of_2">
									<div class="listimg listimg_2_of_1">
										 <a href="details.html"><img src="images/006.jpg"></a>
									</div>
									<div class="txt_s list_2_of_1">
										  <h3>Lorem Ipsum is simply</h3>
										  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt dolore.</p>
										  	<div class="btn1">
												<a href="details.html">Read More <span>>></span></a>
											</div>
									</div>
								</div>
						</div>
</div>
 <div class="sidebar">
  <div class="side_bar">
 	<h2>Catogories</h2>
 	<p class="top"><a href=""><img src="images/art-pic2.jpg" alt="">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi aliquip consequat.</a></p>
 	<p class="top"><a href=""><img src="images/art-pic3.jpg" alt="">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi aliquip consequat.</a></p>
 	<p class="top"><a href=""><img src="images/art-pic4.jpg" alt="">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi aliquip consequat.</a></p>
 </div>
  <div class="side_bar1">
 	<h2>Testimonials</h2>
 	<p class="top">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account</p>
 	<p class="side_bar1_bg"></p>
  </div>
 </div>
  </div>
 <div class="clear"></div>
 </div>
</div>
<div class="f_bg">
<div class="wrap">
<div class="footer">
		<div class="f_logo">
			<a href=""><img src="images/logo.png" alt=""></a>
		<div class="copy">
			<p class="w3-link">© All Rights Reserved | Design by&nbsp; <a href="http://w3layouts.com/"> W3Layouts</a></p>
 		</div>
 		</div>
		<div class="f_grid">
		<div class="social">
				<ul class="follow_icon">
						<li><a href="#" style="opacity: 1;">Get Updates Via</a></li>
					<li><a href="#" style="opacity: 1;"><img src="images/fb.png" alt=""></a></li>
					<li><a href="#" style="opacity: 1;"><img src="images/g+.png" alt=""></a></li>
					<li><a href="#" style="opacity: 1;"><img src="images/tw.png" alt=""></a></li>
					<li><a href="#" style="opacity: 1;"><img src="images/rss.png" alt=""></a></li>
				</ul>
			</div>
		</div>
		<div class="f_grid1">
			<div class="f_icon">
				<img src="images/f_icon.png" alt="" />
			</div>
			<div class="f_address">
				<p>500 Lorem Ipsum Dolor Sit,</p>
				<p>22-56-323 Lorem Ipsum Dolor Sit Sit Amet,</p>
				<p>Fax: (000) 000 00 00 0</p>
				<p>Email: <span>info@mycompany.com</span></p>
		  </div>
		</div>
		<div class="clear"></div>
</div>
</div>
</div>
</body>
</html>